---
BasedOnStyle: Microsoft
AlignEscapedNewlines: Right
AllowShortLoopsOnASingleLine: 'true'
ColumnLimit: '120'
Cpp11BracedListStyle: 'true'
IncludeBlocks: Regroup
IndentCaseLabels: 'true'
Language: Cpp
